/* NavBar.css */
.navbar-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar-nav .nav-link {
  font-size: 18px;
}

.navbar-greeting {
  color: white;
  font-size: 18px;
 
}

.me-auto {
  text-align: right;
}